<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .user1{
      background-color: blue;
    }
    .user2{
      background-color: red;
    }
    /* section p{

    } */
    .hidden{
      display: none;
    }
    .visible{
      display: block;
    }

  </style>
</head>
<body>
  <div>
    <header>
      <h1>Vue Styling</h1>
    </header>
    <section id="assignment">
      <input type="text" v-model="inputClass">
      <!-- <p :class="inputClass" >style me </p> -->
      <p :class="paraClasses" >style me </p>
      <button @click="toggleParagraphVisibility">toggle paragraph</button>
      <input type="text" v-model="inputBackgroundColor">
      <p :style="{backgroundColor:inputBackgroundColor}">Style me inline!</p>
    </section>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="app.js"></script>
</body>
</html>