<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <!-- v-if v-else v-else-if -->
    <!-- v-show -->
    <!-- v-for -->
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>
      <input type="text" v-model="enteredGoalValue">
      <button @click="addGoal">Add Goal</button>
      <p v-show="goals.length===0">No goals have been added yet.</p>
      <ul v-show="goals.length>0" >
        <li v-for="(goal,index) in goals" :key="goal" @click="removeGoal(index)">
          Goal{{index+1}}: {{goal}}
          <!--when i delete this list, happen some errors: reason is vue reuse elments, solution is add an key -->
          <input type="text" @click.stop>
        </li>
      </ul>
      <ul >
        <li v-for="person in people">{{person.name+' '+person.age}}</li>
      </ul>
      <ul >
        <li v-for="(value,index) in people">{{index+': '+value.name+' '+value.age}}</li>
      </ul>
      <ul >
        <li>{{index+': '+key+' '+value}}</li>
      </ul v-for="(value,key,index) in somebody">
      <ul >
        <li v-for="num in 10">{{num}}</li>
      </ul>
    </section>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="app.js"></script>
</body>
</html>