<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id='app'>
    <cpn></cpn>
    <cpn>
      <template slot-scope="slot">
        <span>{{slot.data.join('-')}}</span>
      </template>
    </cpn>
    <cpn>
      <template slot-scope="slot">
        <span>{{slot.data.join('*')}}</span>
      </template>
    </cpn>
    <cpn>
      <template slot-scope="slot">
        <ul>
          <li v-for="(item,index) in slot.data">{{index+'.'+item}}</li>
        </ul>
      </template>
    </cpn>
  </div>
  <template id="cpn">
    <div>
      <slot :data="letters">
        <ul>
          <li v-for="item in letters">{{item}}</li>
        </ul>
      </slot>
     
    </div>
  </template>
  <script src='../js/vue.js'></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        message: 'hello',

      },
      components: {
        'cpn':{
          template:'#cpn',
          data(){
            return{
              letters:['a','s','d','f']
            }

          }
        }
      }
    })
  </script>
</body>

</html>